@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap");

.blogPagination {
  /*font-family: 'Dm Sans', sans-serif;*/
  color: #635d4f;
}

.blogPagination a {
  /*font-family: 'Dm Sans', sans-serif;*/
  font-size: medium;
}

.date {
  color: #999183;
}

.read {
  color: #c4bead;
}

.tags {
  background: #f3eee8;
  padding: 3px 5px;
  border-radius: 30px;
}

.blogTitle{
  color: #6b6251;
  font-weight: 500;
}

.updateLabel {
  font-weight: 600;
}

