@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap");

.card {
  border: none;
}

.cardBody {
  background-color: #f0f0f0;
}
.cardText {
  font-family: 'Lora';
  font-size: small;
}

.cardTitle {
  font-family: 'Prata';
}

.buttonLink {
    font-family: 'Lora';
    border: 0px solid;
    border-radius: 10px;
    background-color: #acb2a1;
    width: 100%;
}
.buttonLink:hover {
  background-color: #7e8277;
}

.buttonLink > a {
    color: #f0f0f0;
    font-size: small;
    font-weight: 600;
    letter-spacing: .1rem;
}
