@import url("https://fonts.googleapis.com/css?family=B612+Mono:400,700&display=swap");
@import "fonts/icomoon/style.css";
@import "css/bootstrap.min.css";
@import "//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css";
@import "css/jquery.fancybox.min.css";
@import "css/bootstrap-datepicker.css";
@import "fonts/flaticon/font/flaticon.css";
@import "css/style.css";
      
@import url("//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/styles/default.min.css");

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yrsa&display=swap');

:root {
  --default-padding: 15em;
  --header-color: #f7f4f0;
  --light-accent-color: #f7f4f0;
}

a {
  cursor: pointer;
  color: #768869;
}

a:hover {
  color: #b7b2a2;
}

.site-mobile-menu {
  width: min-content;
  padding-right: 2rem;
  position: right;
  height: 100%;
}
.site-mobile-menu .site-nav-wrap > li {
  line-height: 1;
}

.site-mobile-menu .site-nav-wrap > li > a {
  font-family: 'B612 Mono';
  text-transform: uppercase;
  font-size: small;
}

.site-mobile-menu .site-nav-wrap li.active > a {
  color: #b7b2a2;
}

.sticky-wrapper .site-navbar .site-menu > li.active > a {
  color: #b7b2a2;
}

.sticky-wrapper .site-navbar .site-menu > li > a:hover {
  color: #b7b2a2;
}
.site-mobile-menu .site-nav-wrap a:hover {
  color: #b7b2a2;
}

.site-mobile-menu .site-mobile-menu-body {
  height: calc(100vh - 12em);
}

body {
  color: black;
  font-family: 'Lora', serif;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
  font-family: 'Prata', serif;
  padding: 1em 0 0.5em 0;
}

.caption {
  font-family: 'Lora', serif;
}

.photo-caption {
  color: #988a7f;
  font-size: small;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.smaller-img {
  display: flex;
  width: 50%;
  justify-content: center;
}

.site-mobile-menu {
  background: var(--header-color);
}

@media {
  .container {
    max-width: 100%
  }
}

.post-entry-2 .contents {
  width: 100%;
}

::selection {
  background: #ccc0aabf;
  color: #000;
}

.row {
  margin: 0;
}
div[data-code-block] {
  overflow-x: scroll;
  max-width: calc(100vw - 12em);
}

.subscribe form p {
  font-size: small;
}

.subscribe form .btn {
  border: 0px solid;
  border-radius: 10px;
  padding: 7px;
  background-color: #acb2a1;
}
.subscribe form .btn:hover {
  background-color: #7e8277;
}

@media (min-width: 1300px) {
  .site-section { padding: 7em var(--default-padding) 1em var(--default-padding) ; }
  .subscribe-section {
    padding: 5em var(--default-padding);
    background-color: #f0ede4;
  }
}

@media (max-width: 1299px) {
  :root {
    --default-padding: 7em;
  }
  .site-section { padding: 7em var(--default-padding) 1em var(--default-padding); }
  .subscribe-section {
    padding: 5em var(--default-padding);
    background-color: #f0ede4;
  }
}

@media (max-width: 992px) {
  :root {
    --default-padding: 5em;
  }
  .site-section { padding: 2em var(--default-padding) 2em var(--default-padding); }
  .subscribe-section {
    padding: 5em var(--default-padding);
    background-color: #f0ede4;
  }
}

@media (max-width: 425px) {
  :root {
    --default-padding: 2em;
  }
  .site-section { padding: 2em var(--default-padding) 2em var(--default-padding); }
  .subscribe-section {
    padding: 5em var(--default-padding);
    background-color: #f0ede4;
  }
}

.pagination {
    padding-bottom: 2em;
}

h2.caption {
  font-size: large;
  color: #afaaa0;
  padding: 0;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
}

blockquote > p {
  font-family: Lora, serif;
  font-weight: 500;
  padding: 0;
  font-size: small;
  color: #000;
}

blockquote {
  margin: 1rem 0;
  padding: 1rem;
  border-left: 1px solid #b7a290;
}

blockquote.thoughts > p {
  font-family: Lora,serif;
  font-weight: 400;
  font-style: italic;
  padding: 0;
  font-size: small;
  color: #000;
}

img {
  width: 100%;
}

video {
  width: 100%;
}

table {
  margin: 2em 0em;
}

li {
  line-height: 2;
}

td, th {
  padding: 1.1rem 1rem;
  text-align: left;
  border-bottom: 1px solid rgb(1,1,1,0.1);
}

strong {
  font-weight: 700;
}
