ul.pagination li a {
    font-family: 'B612 Mono';
    font-size: small;
    color: black;
    padding: 0em 1em 0 0;
    outline: none;
}

ul.pagination li.disabled > a {
    color: #999183;
}

ul.pagination li.active > a {
    font-weight: 700;
}
